/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
Backend/BacklogApi/bin/
Backend/BacklogApi/obj/
Backend/BacklogApi/Uploads/
dist/
dist-electron/
Frontend/node_modules/
Frontend/src/**/*.vue.js
Frontend/src/**/*.vue.js.map
Frontend/src/**/*.js
Frontend/src/**/*.js.map
Backend/BacklogApi/.vs/
Backend-Node/node_modules/.bin/mkdirp
Backend-Node/node_modules/
